@model IEnumerable<TARge21House.Models.House.HouseIndexViewModel>

@{
    int rowNumber = 1;
}

<div class="h1">
    Houses
</div>

<div>
    <a asp-action="create" asp-controller="house" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Size(m&sup2;)</th>
                <th scope="col">Room Count</th>
                <th scope="col">Floors</th>
                <th scope="col">Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@house.Name</td>
                    <td>@house.Size</td>
                    <td>@house.RoomCount</td>
                    <td>@house.Floors</td>
                    <td>@house.Color</td>
                    <td>
                        <a asp-action="details" asp-controller="house" asp-route-id="@house.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="house" asp-route-id="@house.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="house" asp-route-id="@house.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
